body {
    min-width: 290px;
    color: black;
    background-color: white;
    line-height: 1.5;
  }
  
  #navbar { 
    position: fixed;
    min-width: 260px;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    border-right: solid;
    border-color: gray; 
    z-index: 1;
  }
  
  .head-title {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.6em;
    font-weight: normal;
    background-color: #F0F0F0;
    border: 2px gray solid;
  }
  
  .main-section {
    position: relative;
    margin: 20px 20px 90px 290px;
  }
  
  img {
    width: 500px;
  }
  
  nav ul {
    list-style-type: none;
    height: 100%;
    background-color: #f1f1f1;
  }
  
  nav li {
    display: flex;
    align-items: center;
    position: relative;
    left: -30px;
    top: 5px;
    width: 229px;
    height: 53px;
    margin-top: 5px;
    border: 1px gray solid;
    padding: 5px;
  }
  
  nav a {
    text-decoration: none;
  }
  
  code pre {
    background-color: #f1f1f1;
    padding-top: 20px;
    line-height: 2;
  }
  
  @media only screen and (max-width: 850px) {
    /* for tablet */
    nav ul {
      border: 1px gray solid;
      height: 220px;  
    }
    
    nav li {
      display: inline-flex;
      position: relative;
      align-items: center;
      width: 47%;
      border: 1px gray solid;
      padding: 5px;
    }
    
    #navbar {
      position: absolute;
      top: 0;
      margin: 7px;
      padding: 0;
      max-height: 277px;
      z-index: 1;
      border-color: gray; 
      overflow-y: scroll;
      width: 100%;
    }
    
    .main-section {
      position: relative;
      margin-left: 0px;
    }
    
    #introduction { 
      margin-top: 290px;
      border-top: 2px gray solid;
    }
  }
  
  @media only screen and (max-width: 520px) {
      /* for mobile phones */
    nav ul {
      height: 437px;  
      background-color: #f1f1f1;
    }
    
    nav li {
      display: block;
      position: relative;
      width: 100%;
      border: 1px gray solid;
      padding: 5px;
    }
    
    #navbar {
      position: absolute;
      top: 0;
      margin: 7px;
      padding: 0;
      max-height: 277px;
      z-index: 1;
      border-color: gray; 
      overflow-y: scroll;
      width: 100%;
    }
    
    .main-section {
      position: relative;
      margin-left: 0px;
    }
    
    #introduction { 
      margin-top: 290px;
      border-top: 2px gray solid;
    }
  }
  
  
  
  